<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <script th:src="@{/js/contacts.js}" defer></script>
</head>
<body id="bg-list">
    <!-- List -->
    <div layout:fragment="content">
        <section class="my-4">
            <div class="container screen">
                <div class="card border-2 border-primary">
                    <div class="card-header bg-primary">
                        <div class="row row-cols-auto justify-content-between align-items-center py-2">
                            <h3 class="fw-bold col text-white">Contacts</h3>
                            <a class="col text-white me-3" th:href="@{'/contacts/export-to-excel'}" id="download-excel"></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover mb-0">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Datetime</th>
                                <th>Fullname</th>
                                <th>Email</th>
                                <th>Phone-Number</th>
                                <th>Subject</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody class="align-middle" id="contact-list">

                            </tbody>
                        </table>
                        <nav class="row justify-content-between align-items-center mt-3 me-5">
                            <div class="col-3 me-auto">
                                <div class="row align-items-center gx-2">
                                    <p class="col m-0">Size: </p>
                                    <select class="form-select col" id="selectSize" onchange="selectSize()">
                                        <option value="5" selected>5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                    </select>
                                </div>
                            </div>

                            <ul class="pagination col-auto m-0" id="pagination">

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!-- Model -->
        <div class="modal fade" id="view" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="labelModel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3 row row-cols-auto justify-content-between">
                            <p class="m-0 col">Date: <span id="date"></span></p>
                            <p class="m-0 col">Time: <span id="time"></span></p>
                        </div>
                        <div class="mb-3 row">
                            <p class="m-0 col-3 fw-bold">Email:</p>
                            <p class="col-9" id="email"></p>
                        </div>
                        <div class="mb-3 row">
                            <p class="m-0 col-3 fw-bold">Phone:</p>
                            <p class="col-9" id="phone"></p>
                        </div>
                        <div class="mb-3 row">
                            <p class="m-0 col-3 fw-bold">Subject:</p>
                            <p class="col-9" id="subject"></p>
                        </div>
                        <div class="mb-3 row">
                            <p class="m-0 col-3 fw-bold">Message:</p>
                            <p class="col-9" id="message"></p>
                        </div>
                        <div class="my-3 row justify-content-end" id="div-dl_file">
                            <a id="down-file" class="col-auto me-2" target="_blank"></a>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>
</html>