<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CONTACT US</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css}">
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}" defer></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js}"></script>
</head>
<body id="contactForm-img">
    <div class="d-flex justify-content-center align-items-center screen" >
        <div class="rounded-3 bg-white w-75" id="card-contactForm">
            <h2 class="text-center my-3 fw-bolder">CONTACT US</h2>
            <div class="row row-cols-2 align-items-center p-4 pt-0">
                <div class="col">
                    <img src="../img/contactFormUs.png" alt="Email-img">
                </div>
                <div class="col">
                    <form class="row row-cols-1 gy-3">
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="fullName" id="inputFullName"
                                       placeholder="Enter your FullName">
                                <label for="inputFullName">Full Name <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <p class="text-danger ps-3 m-0 fw-bold" id="messFullname"></p>
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="email" id="inputEmail"
                                       placeholder="Enter your email address">
                                <label for="inputEmail">Email <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <p class="text-danger ps-3 m-0 fw-bold" id="messEmail"></p>
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="phone" id="inputPhone"
                                       placeholder="Enter your phone number">
                                <label for="inputPhone">Phone Number <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <p class="text-danger ps-3 m-0 fw-bold" id="messPhone"></p>
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="subject" id="inputSubject"
                                       placeholder="Enter Subject" >
                                <label for="inputSubject">Subject <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <p class="text-danger ps-3 m-0 fw-bold" id="messSubject"></p>
                        <div class="col">
                            <textarea class="form-control" placeholder="Enter messages here"
                                      id="textareaMessage"></textarea>
                        </div>
                        <p class="text-danger ps-3 m-0 fw-bold" id="mess"></p>
                        <div class="col">
                            <input type="button" value="SUBMIT" id="btn-submit-ContactUs" class="btn btn-primary w-100">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/contactForm.js}" defer></script>
</body>
</html>