<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <script th:src="@{/js/users.js}" defer></script>
</head>
<body id="bg-list">
<!-- List -->
<div layout:fragment="content">
    <section class="my-4">
        <div class="container">
            <div class="card border-2 border-primary">
                <div class="card-header bg-primary">
                    <div class="row row-cols-auto justify-content-between align-items-center py-2">
                        <h3 class="fw-bold col text-white">Người dùng</h3>
                        <div class="col-auto">
                            <a class="me-3 text-white col" th:href="@{'/users/export-to-excel'}" id="download-excel"></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-hover mb-0">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th class="text-center">Role</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody class="align-middle" id="user-list">

                        </tbody>
                    </table>
                    <nav class="float-end mt-3 me-5">
                        <ul class="pagination" id="pagination">

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section id="view-user" class="container mb-5">

    </section>
</div>

</body>
</html>