<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header >
    <!-- <div class="container-fluid ">
              <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-list"></span>
            </button>
            <div class="collapse navbar-collapse  " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/home/index}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home/contact}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home/login}">Login</a>
                    </li>
                </ul>
            </div>
        </div> -->
    <nav class="navbar navbar-expand-lg w-100 " id="navbar-example1" >
        <div class="container-fluid ">
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-list"></span>
            </button>
            <div class="collapse navbar-collapse  " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/home/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home/contact}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home/login}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home/dashboard}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home/listContact}">List Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home/UserManagement}">User Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home/Register}">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
</header>
</body>
</html>