<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
</head>
<body>
<header layout:fragment="header" class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">COMPANY</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/dashboard'}" id="link-home-header">Trang Chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{'/contacts'}" id="link-contacts-header">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/users'}" id="link-users-header">Người dùng</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center">
                    <a id="account-name" th:href="@{'/info'}" class="m-0 me-5 text-white fw-bold"></a>
                    <button class="btn btn-danger" type="submit" onclick="logout()">Đăng xuất <i class="bi bi-box-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>
</html>